#cabecalho{
    background-color: white;
    padding: 5px;
    border-bottom: 2px solid rgb(196, 194, 194);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body{
    background-color: rgb(241, 241, 240);
}
#logomarca{
    width: 100px;
    height: 100px;
}
.link{
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    margin: 20px;
    text-decoration: none;
}
p.title{
    margin: 10px 10px 10px 0px;
    margin-left: 15%;
    font-size: 25px;
    font-weight: bolder;
}
.itens {
    margin: 20px;
    overflow-x: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha quando não couberem mais na tela */
}

.item {
    flex: 0 0 calc(20% - 20px); /* Define a largura de cada item para ocupar cerca de 1/3 da largura da tela, considerando a margem */
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    border: 3px solid rgb(133, 133, 133);
    border-radius: 5px;
}


img{
    width: 150px;
    height: 120px;
}
a {
    color:#000000;
    text-decoration:none;
}
  a:hover {
    transition-duration: 0.32s;
    background-color: #f0efef;
    text-decoration:none;
}
  a:active {
    color:black;
    background-color: #e7e4e4;
}
input{
    border: 2px black solid;
    border-radius: 5px;
}

/*Pagina de Contato*/

.formulario{
    margin-left: 43%;
    font-size: 20px;
}
